.container-employee {
    width:800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
    margin-top: 200px;
    background-color: #22262B;
    color: white;
    align-items: center;
    font-family: sans-sarif;
    text-align: center;
    border-radius: 10px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
}
h2 {
    padding-top: 1em;
    font-size: 40px;
    font-weight: 500;
    color: white;
    border-bottom: solid 2px #428DA5;
    margin: 1em 3em;
}

.logoFig {
    display: inline;
}