.container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #22262B;
    border-collapse: collapse;
    color: white;
    width: 60vw;
    align-items: center;
    height: auto;
    padding-top: 0.5em;
    font-family: sans-sarif;
    padding-bottom: 2em;
    text-align: center;
    border-radius: 10px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
}

h2 {
    padding-top: 1em;
    font-size: 40px;
    font-weight: 500;
    color: white;
    border-bottom: solid 2px #428DA5;
    margin: 1em 3em;
}

.logoFig {
    display: inline;
}