.emp-policies-div{
    margin-left:20px;
    max-width: 800px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
button {
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.15s;
}



.btn-insurance-home{
    background-color: rgb(0, 149, 249);
    text-decoration: none;
}

.btn-insurance-home:hover{
background-color: rgba(0, 149, 249, 0.8);
}

.btn-insurance-home:active, .btn-back-home:active, .btn-employee-home:active{
    margin-left: 1px;
    margin-bottom: 1px;
}
.btn-back-home{
    background-color:  rgb(192, 36, 36);
}
.btn-back-home:hover{
    background-color:  rgba(192, 36, 36, 0.8);

}
.btn-employee-home{
   background-color:  rgb(105, 249, 2);
}
.btn-employee-home:hover{
   background-color:  rgba(105, 249, 2, 0.8);

}