.information-container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #22262B;
    border-collapse: collapse;
    color: white;
    align-items: center;
    height: auto;
    width: 100vh;
    padding-top: 0.5em;
    font-family: sans-sarif;
    padding-bottom: 2em;
    text-align: center;
    border-radius: 10px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
}